<div>
    <input id="nombre" type="text" placeholder="nombre" name="nombre">
    <input id="correo" type="email" placeholder="correo" name="correo">
    <input id="password" type="password" name="password">
    <button id="enviar">Enviar</button>
</div>
<script src="./js/register.js"></script>
